<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Properties.Settings.BallDBConnectionString"
            connectionString="Data Source=JOWENDEANPC\BALLSQL;Initial Catalog=BallDB;Persist Security Info=True;User ID=sa;Password=Jowen#2010"
            providerName="System.Data.SqlClient" />
        <add name="LinqToSQL.Properties.Settings.BallDBConnectionString1"
            connectionString="Data Source=JOWENDEANPC\BALLSQL;Initial Catalog=BallDB;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>